pkgbase = scx-scheds
	pkgdesc = Sched_ext schedulers
	pkgver = 0.1.1
	pkgrel = 2
	url = https://github.com/sched-ext/scx
	arch = x86_64
	license = GPL2.0
	makedepends = meson
	makedepends = bpf
	makedepends = pahole
	makedepends = rust
	makedepends = cargo
	depends = libelf
	depends = zlib
	depends = libbpf
	options = !lto
	source = https://github.com/sched-ext/scx/archive/refs/tags/v0.1.1.tar.gz
	sha512sums = a917d09cdc4179d0376e26fdee9a5d300442c14e59ce07798785eb8e263978bc90046b6260ebd0d66ee4d0ba3915203683c17c52c29cfad8e9a404b7dde0bd7e

pkgname = scx-scheds
